<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">
.btn-primary {
	background: #fa25de;
	color: #ffffff;
}
</style>
</head>
<body layout:fragment="content">

	<div class="row">

		<h1>Edit Shopping List Items</h1>

		<form th:action="@{|/shoppingListItem/${shoppingListItem.id}|}"
			enctype="multipart/form-data" method="POST">
			<input name="id" type="hidden" th:value="${id}" />
			<input name="shoppingListId" type="hidden" th:value="${shoppingList.id}"/>
		<input type="hidden" name="isChecked" value="false"/>

			<div class="field">
				<label for="contents">Edit Contents</label> <input name="contents" type="text"
					th:value="${shoppingListItem.contents}" /> <span
					th:if="${#fields.hasErrors('shoppingListItem.contents')}"
					th:errors="*{contents}">Contents not found</span>
			</div>

			<div class="form-group">
		    	<label for="bought">Priority:</label>
		    	<select class="form-control" name="priority">
		    		<option th:selected="*{shoppingListItem.priority} == 1" value="1">High</option>
		    		<option th:selected="*{shoppingListItem.priority} == 2" value="2">Medium</option>
		    		<option th:selected="*{shoppingListItem.priority} == 3" value="3">Low</option>
		    		</select>
		    </div>


			<button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>

</body>
</html>