<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/basic">
<head>
    <title>Shopping List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<div class="row">
		<h1 style="text-align: center">Items List</h1>
		<a class="btn btn-primary" href="/" th:href="@{|/shoppingList/{shoppingList.Id}/createItem|}" role="button">Create New Item</a>
		<table style="width:100%" border="2">
			<thread>
				<tr>
					<th>Contents</th>
					<th>Priority</th>
					<th>Delete</th>
				</tr>
			</thread>
			<tbody>
				<tr th:each= "shoppingListItem: ${shoppingListItem}">
					<td th:text="${shoppingListItem.contents}"></td>
					<td th:text="${shoppingListItem.priority}"></td>
					<td><button type="button">Delete</button></td>
				</tr>
			</tbody>
		</table>
		
	</div>
    
</body>
</html>