<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/basic">
<head>
    <title>Create Contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style type="text/css">
    	.field {
    		display: block;
    		margin-bottom: 5px;
    	}
    	
    	.field input, .field select {
    		float: right;
    		width: 170px;
    	}
    	form {
    		width: 290px;
    	}
    </style>
</head>
<body layout:fragment="content">
	<h1>Shopping List</h1>
	<form th:action="@{|/shoppingList/shoppingList_create|}" enctype="multipart/form-data" method="POST">
		<input name="userId" type="hidden" th:value="${shoppingList.userId}"/>
			
		<div class="field">
			<label for="name">List Name</label>
			<input name="name" type="text" th:value="${shoppingList.name}"/>
		</div>
		
		<div class="field">
			<label for="color">List Color</label>
			<input name="color" type="text" th:value="${shoppingList.color}"/>
		</div>
		
		<div class="field">
			<label for="created_utc">Date Created</label>
			<input name="created_utc" type="text" th:value="${shoppingList.created_utc}"/>
		</div>
		
		<div class="field">
			<label for="modified_utc">Date Modified</label>
			<input name="modified_utc" type="text" th:value="${shoppingList.modified_utc}"/>
		</div>
		
		<input type="submit" th:value="Create"/>
		<a href="/shoppingLists" th:href="@{|/shoppingLists|}">Back</a>
	</form>
</body>
</html>