<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<div class="row">
	<h1>PRODUCT Details</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>List Name</th>
					<th>Color</th>
					<th>Creation Date</th>
					<th>Modified Date</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="shoppingList : ${shoppingList}">
					<td th:text="${shoppingList.name}"></td>
					<td th:text="${shoppingList.color}"></td>
					<td th:text="${shoppingList.createdUtc}"></td>
					<td th:text="${shoppingList.modifiedUtc}"></td>
					<td><a href="/" th:href="@{|/shoppingList/${shoppingList.id}/shoppingList_edit|}">Edit</a></td>
				</tr>
			</tbody>
		</table>
		<div th:unless="${shoppingList}">
			<h1>List not found</h1>
		</div>
	</div>
</body>
</html>
